
/* CSS reset */

* {	
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.section-links
{
	padding-top: 20px;
	font-family: ”Verdana”, Sans-serif;
	text-align:center;
	font-size:90%;
}
.social-icon
{
	color: #424242;
	text-align:center;
}
h1
{
	font-size:150%;
	font-weight:900;
}
h2
{
	font-size:120%;
}
h3
{
	font-size:90%;
}
.profile-card {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1200px;
  max-width: calc(100vw - 10px);
  background-color: #e7eaee;
  border-radius: 1px;
  box-shadow: hsla(0, 0%, 0%, .8) 40px 40px 40px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://i.imgur.com/5d9sh0i.jpg') no-repeat center center fixed;
  background-size: cover;
}


